<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Walk through history</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
</head>
<body>
    <div class="container">
        <div class="login-card">
            <h1>Login</h1>
            <form class="form">
                <label for="username">Username</label><br>
                <input type="text" id="username"><br>
                <label for="password" id="password">Password</label><br>
                <input type="password" id="password">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='login.css') }}/>
</body>
</html>